/JavaApplication2/nbproject/private/
/JavaApplication2/build/
/JavaApplicationPOO/nbproject/private/
/JavaApplicationPOO/build/
/ArrancaEl10/nbproject/private/
/ArrancaEl10/build/
/ArrancaEl10/dist/
/EjercicioNetflix/nbproject/private/
/EjercicioNetflix/build/
/JavaApplication6/nbproject/private/
/JavaApplication6/build/
/JavaExtraGYM/nbproject/private/